html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    /*overflow: hidden;*/
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
}

[draggable] label {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.layer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.layer-list ul {
    list-style: none;
}

.being-dragged {
    border: 1px dotted darkred;
}

.drag-target {
    border-top: 1px inset gray;
}

.control-container {
    border: 1px solid gray;
    border-top-style: dashed;
    border-radius: 0 0 10px 10px;
    padding: 0 1em 0.5em 1em;
    background-color: #f3f1f1;
}

.badge:before {
    display: inline-block;
    padding: 0.01em 0.2em;
    border-radius: 5px;
    margin-left: 0.2em;
}

.badge.supports-dynamic-layers:before {
    background-color: red;
    color: white;
    content: 'DL';
}

.badge.layer-type-arcgis-feature-layer:before {
    background-color: #ffd800;
    content: 'F';
}

.badge.layer-type-arcgis-map-service-layer:before {
    background-color: #ffd800;
    content: 'D';
}

.badge.layer-type-arcgis-tiled-map-service-layer:before {
    background-color: #ffd800;
    content: 'T';
}

.sublayer-list {
    padding: 0;
}

.toggle-closed .control-container, .out-of-scale .legend, input[type=checkbox]:not(:checked) + label +.legend {
    display: none;
}

.layer-label {
    cursor: pointer;
    text-decoration: underline;
}

.opacity-slider {
    width: 100%;
}

.out-of-scale {
    color: lightgray;
}

#map, #mapContainer {
    height: 100%;
}

#flexcontainer {
    height: 100%;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

    #flexcontainer > div:last-child {
        -ms-flex: 1;
        flex: 1;
    }

    #flexcontainer > :first-child {
        -ms-flex: 3;
        flex: 3;
    }

#tools {
    overflow-y: auto;
}



.github-link {
    text-align: center;
    width: 126px;
    position: absolute;
    bottom: 39px;
    left: -43px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: black;
    padding: 0.2em 2em;
}

.github-link > a {
    color: white;
}

#mapProgress {
    position: absolute;
    bottom: 10px;
    left: 200px;
    z-index: 50;
}