html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.layer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#map, #mapContainer {
    height: 100%;
}

#flexcontainer {
    height: 100%;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

    #flexcontainer > div:last-child {
        -ms-flex: 1;
        flex: 1;
    }

    #flexcontainer > :first-child {
        -ms-flex: 3;
        flex: 3;
    }

#tools {
    overflow-y: auto;
}

#githubLink {
    text-align: center;
    width: 126px;
    position: absolute;
    bottom: 47px;
    left: -41px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: black;
    padding: 0.2em 2em;
}

#githubLink > a {
    color: white;
}

