html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#map, #mapContainer {
    height: 100%;
}

#flexcontainer {
    height: 100%;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

#flexcontainer > div:first-child {
    flex-grow: 1;
}

.buffer-ui {
    padding: 0.5em;
    max-width: 200px;
}

.buffer-options-list {
    list-style: none;
    padding: 0;
    margin: auto;
}

.geometry-list:empty:after {
    content: 'Select a geometry on the map, then click the "Buffer" link in the info window.';
    width: 100px;
    font-style: oblique;
    color: #bb0707;
}

label+input, label+select {
    display: block;
}

#githubLink {
    text-align: center;
    width: 126px;
    position: absolute;
    bottom: 47px;
    left: -41px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: black;
    padding: 0.2em 2em;
}

#githubLink > a {
    color: white;
}