html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#map, #mapContainer {
    height: 100%;
}

#flexcontainer {
    height: 100%;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

#flexcontainer > div:first-child {
    flex-grow: 1;
}

.buffer-ui {
    padding: 0.5em;
}

.buffer-options-list {
    list-style: none;
    padding: 0;
    margin: auto;
}

.geometry-list:empty:after {
    content: 'None';
    font-style: oblique;
    color: #bb0707;
}

label+input, label+select {
    display: block;
}